<h3>Hardware injections cross check from the interval {{analysis_time}}</h3>

<table border=1>
    <tr>
        <td>IFO</td>
        <td>GraceDB entries</td>
        {% for exc_name in exc_names %}
            <td>excitations from {{exc_name}}</td>
        {% endfor %}
        {% for seg_name in seg_names %}
            <td>segments from {{seg_name}}</td>
        {% endfor %}
        {% for odc_name in odc_names %}
            <td>ODC bits from {{odc_name}}</td>
        {% endfor %}
        {% for vector_name in vector_names %}
            <td>state vector bits from {{vector_name}}</td>
        {% endfor %}
        <td>tinj schedule</td>
    </tr>
    {% for hwinj in hwinj_list %}
        <tr>
            <td>{{hwinj.ifo}}</td>
            <td {% if len(hwinj.gracedb_id) == 1 %}bgcolor="green"{% endif %}{% if len(hwinj.gracedb_id) > 1 %}bgcolor="yellow"{% endif %}>
                {% for gracedb_id,time in zip(hwinj.gracedb_id,hwinj.gracedb_time) %}
                     {{gracedb_id}}: {{time}}<br>
                {% endfor %}
            </td>
            {% for exc_name in exc_names %}
                <td>{{hwinj.exc_dict[exc_name]}}</td>
            {% endfor %}
            {% for seg_name in seg_names %}
                <td>{{hwinj.seg_dict[seg_name]}}</td>
            {% endfor %}
            {% for odc_name in odc_names %}
                <td>{{hwinj.odc_dict[odc_name]}}</td>
            {% endfor %}
            {% for vector_name in vector_names %}
                <td>{{hwinj.vector_dict[vector_name]}}</td>
            {% endfor %}
           </td>
            <td {% if hwinj.scheduled %}bgcolor="green"{% else %}bgcolor="red"{% endif %}>{{hwinj.schedule_entry}}</td>
        </tr>
    {% endfor %}
</table>
