
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LIGO hardware injection log</title>

    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/bootstrap-table.css" rel="stylesheet">
    <link href="./static/css/table.css" rel="stylesheet">

    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/bootstrap-table.js"></script>
    <script src="./static/js/bootstrap-table-mobile.js"></script>
    <script src="./static/js/bootstrap-table-export.js"></script>
    <script src="./static/js/bootstrap-table-export-plugin.js"></script>

</head>
<body>

    <h3>Hardware injections from the segment {{analysis_time}}</h3>

    <p>A direct link to a CSV file can found <a href="./{{csv_filename}}">here</a>.</p>

    <table class="table table-striped" data-toggle="table"
                                       data-search="true"
                                       data-show-refresh="false"
                                       data-show-toggle="true"
                                       data-show-columns="true"
                                       data-show-export="true"
                                       {% if not display_all %}
                                         data-pagination="true"
                                       {% endif %}
                                       data-mobile-responsive="true">
        <thead>
            <tr>
                {% for key in table_row_keys(exc_names, seg_names, bitmask_names) %}
                <th data-sortable="true">{{key}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for hwinj in hwinj_list %}
            <tr>
                {% for val in table_row_values(hwinj, exc_names, seg_names, bitmask_names) %}
                <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
