<h3>Hardware injections cross check from the interval {{analysis_time}}</h3>

<table border=1>
    <tr>
        <td>IFO</td>
        <td>GraceDB entries</td>
        <td>excitations</td>
        <td>observation mode</td>
        <td>segment database</td>
        <td>ODC frames</td>
        <td>state vector</td>
        <td>tinj schedule</td>
    </tr>
    {% for hwinj in hwinj_list %}
        <tr>
            <td>{{hwinj.ifo}}</td>
            <td {% if len(hwinj.gracedb_id) == 1 %}bgcolor="green"{% endif %}{% if len(hwinj.gracedb_id) > 1 %}bgcolor="yellow"{% endif %}>
                {% for gracedb_id,time in zip(hwinj.gracedb_id,hwinj.gracedb_time) %}
                     {{gracedb_id}}: {{time}}<br>
                {% endfor %}
            </td>
            <td>
                {% for channel_name,seg in hwinj.exc_dict.iteritems() %}
                     {{channel_name}}: {{seg}}<br>
                {% endfor %}
            </td>
            <td {% if hwinj.obs_mode %}bgcolor="green"{% else %}bgcolor="yellow"{% endif %}>
            </td>
            <td>
                {% for segment_name,seg in hwinj.seg_dict.iteritems() %}
                     {{segment_name}}: {{seg}}<br>
                {% endfor %}
            </td>
            <td>
                {% for bitmask_name,seg in hwinj.odc_dict.iteritems() %}
                     {{bitmask_name}}: {{seg}}<br>
                {% endfor %}
            </td>
            <td>
                {% for bitmask_name,seg in hwinj.vector_dict.iteritems() %}
                     {{bitmask_name}}: {{seg}}<br>
                {% endfor %}
            </td>
            <td {% if hwinj.scheduled %}bgcolor="green"{% else %}bgcolor="red"{% endif %}>{{hwinj.schedule_entry}}</td>
        </tr>
    {% endfor %}
</table>
